*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


header{
    background-color:rgb(233, 161, 161);
    color:brown;
    padding:10px;
    text-align:center;
    margin:0;
    display:flex;
}

.h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size:50px;
    padding-left:20px;
  }
  body{
    background:linear-gradient(45deg,rgb(183, 212, 255),rgb(207, 207, 253));
  }

nav{
    margin-left:auto;
}
nav .ul {
    list-style:none;
    display:flex;
    gap:20px;
    padding-top:20px;
}
nav .ul li a{
    color: brown;
    text-decoration: none;
    font-size:18px;
    font-size:20px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    padding-right:20px;
}

nav .ul li a:hover{
    
    background:rgb(233, 207, 255);
    text-decoration:underline;
    padding:10px;
    border-radius:10px;
}

.home{
    display:flex;
    padding-top:50px;
}

.about{
    color:brown;
    flex:3;
}
.about h2{
    font-size:30px;
    padding-left:40px;
}

.about p{
    padding-left:30px;
    font-size:30px;
    flex-wrap: wrap;
}
.pic{
    flex:1;
}

.pic img{
    width:300px;
    height:300px;
    border-radius:50%;
    border:5px solid brown;
    box-shadow:10px 5px 50px brown;
    border-radius:50%;
}

.btn{

}

#sk1{
    text-align:center;
    font-size:40px;
    text-decoration:underline;
}
.icon{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px;
}
.icon img{
    height:100px;
    width:100px;
}

.icon img:hover{
    transform:scale(1.2);
    transition:transform 0.3s ease;
}